@model HomeModel;
@{
    ViewData["Title"] = "TV7 Playlist";
}

<div class="row">
    <div class="col col-12">
        <table class="table table-hover table-striped">
            <tr>
                <th></th>
                <th>Number Import</th>
                <th>Number Export</th>
                <th>Position</th>
                <th>Name</th>
                <th>EPG Name</th>
                <th>Enabled</th>
                <th>Available</th>
                <th>URL Proxy</th>
                <th>URL Original</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>

            @{
                foreach (var track in Model.PlaylistEntries)
                {
                    <tr>
                        <td>
                            <a class="btn btn-secondary" asp-area="" asp-controller="PlaylistEntry" asp-action="Edit" asp-route-id="@track.Id">Edit</a>
                            <a class="btn btn-danger" asp-area="" asp-controller="PlaylistEntry" asp-action="Delete" asp-route-id="@track.Id">Delete</a>
                        </td>
                        <td>@track.ChannelNumberImport</td>
                        <td>@track.ChannelNumberExport</td>
                        <td>@track.Position</td>
                        <td>@track.Name</td>
                        <td>@track.EpgMatchName</td>
                        <td>@track.IsEnabled</td>
                        <td>@track.IsAvailable</td>
                        <td>@track.UrlProxy</td>
                        <td>@track.UrlOriginal</td>
                        <td>@track.Created.ToString("g")</td>
                        <td>@track.Modified.ToString("g")</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>