@model HomeModel;
@{
    ViewData["Title"] = "TV7 Playlist";
}

<div class="row">
    <div class="col col-12">
        <table class="table table-hover table-striped">
            <tr>
                <th></th>
                <th>Number Import</th>
                <th>Number Export</th>
                <th>Position</th>
                <th>Name</th>
                <th>EPG Name</th>
                <th>Enabled</th>
                <th>Available</th>
                <th>URL Proxy</th>
                <th>URL Original</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>

            @{
                foreach (var channel in Model.PlaylistEntries)
                {
                    <tr>
                        <td>
                            <a class="btn btn-secondary" asp-area="" asp-controller="PlaylistEntry" asp-action="Edit" asp-route-id="@channel.Id">Edit</a>
                            <a class="btn btn-danger" asp-area="" asp-controller="PlaylistEntry" asp-action="Delete" asp-route-id="@channel.Id">Delete</a>
                            @{
                                if (channel.IsEnabled)
                                {
                                    <a class="btn btn-warning" asp-area="" asp-controller="PlaylistEntry" asp-action="ToggleEnabled" asp-route-id="@channel.Id">Disable</a>
                                }
                                else
                                {
                                    <a class="btn btn-info" asp-area="" asp-controller="PlaylistEntry" asp-action="ToggleEnabled" asp-route-id="@channel.Id">Enable</a>
                                }
                            }
                        </td>
                        <td>@channel.ChannelNumberImport</td>
                        <td>@channel.ChannelNumberExport</td>
                        <td>@channel.Position</td>
                        <td>@channel.Name</td>
                        <td>@channel.EpgMatchName</td>
                        <td class="text-center">@Html.Raw(channel.IsEnabled ? "<span class=\"text-primary\">Enabled</span>" : "<span class=\"text-danger\">Disabled</span>")</td>
                        <td class="text-center">@Html.Raw(channel.IsAvailable ? "<span class=\"text-primary\">yes</span>" : "<span class=\"text-danger\">no</span>")</td>
                        <td>@channel.UrlProxy</td>
                        <td>@channel.UrlOriginal</td>
                        <td>@channel.Created.ToString("g")</td>
                        <td>@channel.Modified.ToString("g")</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>